<!-- Cuerpo del Componente -->
<div class="product-container">

  <!-- Encabezado -->
  <div class="header">
    <span class="material-symbols-outlined">
      payments
    </span>
    <h1>Banco</h1>
  </div>

  <!-- Contenedor de Tabla -->
  <div class="product-table-container">
    <!-- Menu de Acciones -->
    <div class="product-actions-row">
      <!-- Input de Busqueda de Producto -->
      <div style="flex:1; max-width:320px;">
        <app-custom-input 
          type="text" 
          placeholder="Buscar..." 
          style="width:100%">
        </app-custom-input>
      </div>

      <!-- Boton de Agregar Producto -->
      <div>
        <app-custom-button 
          [Texto]="'Agregar'" 
          [colorBoton]="'#FFD600'"
          [ColorHoover]="'#FFEA00'" 
          [colorTexto]="'#222'" 
          style="font-weight:600; min-width:120px;">
        </app-custom-button>
      </div>

    </div>

    <!-- Tabla de productos -->
    <div class="product-table-content">
      <!-- Tabla -->
      <table>
        <thead>
          <tr>
            <th>Logo</th>
            <th>Nombre del Producto</th>
            <th>
              Descripción
              <span class="material-symbols-outlined">
                info
              </span>
            </th>
            <th>
              Fecha de liberación
              <span class="material-symbols-outlined">
                info
              </span>
            </th>
            <th>
              Fecha de reestructuración
              <span class="material-symbols-outlined">
                info
              </span>
            </th>
            <th>Acciones</th>
          </tr>
        </thead>
      </table>

      <!-- Seccion Footer de la Tabla -->
      <div class="product-table-footer">
        <!-- Contador de productos en Tabla -->
        <div>
          <span>{{products.length}} Resultados</span>
        </div>
        <!-- Select para escoger la cantidad de productos a mostrar (5, 10, 20) -->
        <div>
          <select class="custom-select">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>