/* You can add global styles to this file, and also import other style files */

body {
  background: #f4f6f9;
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  min-height: 100vh;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Responsividad global */
@media (max-width: 600px) {
  body {
    padding: 0;
  }
}
